@import '../../styles/theme.scss';
@import '../../styles/mixins/link_btn_mixin.scss';

$content-width: 500px;

.home {
    width: $content-width;
    margin: auto;
    margin-top: 50px;
    text-align: center;

    > img {
        margin-top: 10px;
        width: $content-width;
    }

    .buttons-panel {    
        margin-top: 20px;
        display: grid;
        grid-template-columns: 50% 50%;

        > a {
            @include link-button(
                //
                $btn-color,
                10px 0px,
                4px 5px,
                16px
            );

            color: white;
        }
    }
}
