$bg: rgb(216, 216, 216);//#172645;
$text: black;//rgb(216, 216, 216);

$scrollbar-track: #374a72;
$scrollbar-thumb: #888;
$scrollbar-thumb-hover: #555;

$btn-tooltip-color: #0d6efd;
$btn-color: #212529;
$btn-color-hover: #0e0e0f;

$header-color: #101c33;
$nav-link-active: #a16fdd;

$slider-track-bg: #d4d4b8;
$slider-bg-img: #945dd6;
$slider-thumb-color: #945dd6;

$decks-list-item-bg: #314369;

$shop-section-bg: #374a72;
$shop-section-title-block: #323d5a;
$shop-section-info: #3c496c;

$deck-suit-bg: #374a72;
